@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Viga, sans-serif !important;
  background-color: #24201F !important;
  color: white !important;
}

.heroTitle {
  margin-top: 10vh;
  font-family: Viga, sans-serif;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  color: #000;
}

.heroUnit {
  z-index: 0 im !important;
}

.navbar1 {
  z-index: 10 i !important;
}

.contactInfo {
  color: #000;
  margin: auto;
  display: inline-block;
  width: 100%;
}

.contact {
  /* display: inline; */
  text-align: center;
  color: black !important;
}

.contact > a {
  color: black;
}

.contact > a {
  display: inline-block;
}

.heroText {
  font-family: Viga, sans-serif;
  text-align: center;
  font-weight: lighter;
  vertical-align: middle;
  color: #000;

}

.phone {
  text-align: center;
  color: black; 
}

.about {
  background-color: black !important;
  color: #fff !important;
}

.footerContact {
  list-style: none;
  padding: 0;
}

.footer {
  background-color: #24201F;
  font-family: Viga, sans-serif;
  color: white;
}

.footerContact > li > a {
  color: white !important;
  text-decoration: none;
}

.footerCol > hr {
  background-color: white;
}

.footerCol {
  margin-top: 15px;
}

.map {
  margin-top: 5px;
}

.services {
  background-color: #fff;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.services {
  background-color: #f8f9fa !important;
}

.error {
  color: black;
}

#company-name {
  text-align: center;
  margin-top: 15px;
  color:white;
}